.product {

	display: flex;
  flex-direction: column;
  align-items: center;
  
  max-height: 450px;
  min-width: 100px;
  background-color: white;
  padding:20px;
  width:100%;
  margin-left:5px;
  margin-right: 5px;


  .MuiSvgIcon-root {
    fill: gold;
  }
  

  & > img {
    object-fit: contain;
	margin-bottom: 15px;
	max-height: 250px;
	min-width: 100px;
  }
  & > button{
	  background-color: #f0c14b;
	  border: 1px solid ;
	  border-color:#a88734 #9c7e31 #846a29;
  }

  .product__info {
	height:100px;
	margin-bottom:15px;
    .product__price {
      margin-top: 10px;
    }
  }

  .product__rating {
    display: flex;
  }
}
